/* SPDX-License-Identifier: MPL-2.0 */
/* SPDX-FileCopyrightText: 2024 awwpotato */

/* bring forward the page action buttons(translate, bookmark(star), zoom... buttons) in the url */
#page-action-buttons{
  z-index: 5 !important;
  backdrop-filter: blur(1px);
  right: 0px;
  position: absolute;
}

/* change url bar selected text color  and background color*/
 #urlbar ::-moz-selection,

.searchbar-textbox ::-moz-selection {
  background-color: #A9D1FF !important;
  color: #000 !important;
} 

 /* add margin to the top of the drop down url box so the first element won't be hidden behind the bookmarks */
  .urlbarView {
   margin-top: 33px !important;
  }


#identity-box[pageproxystate="valid"]:is(
    .notSecureText,
    .chromeUI,
    .extensionPage
  )
  > .identity-box-button {
  &:not(:hover) {
    background-color: transparent !important;
  }
  & image {
    list-style-image: url("../icons/firefox.svg") !important;
  }

  & #identity-icon-label {
    display: none !important;
  }

  fill: var(--toolbarbutton-icon-fill) !important;
}

#urlbar {
  z-index: 9999 !important;
  margin: auto !important;
}

#urlbar-background {
  border-radius: var(--uc-button-radius) !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#urlbar[breakout-extend] #urlbar-background {
  background-color: Field !important;
  @media not -moz-pref( "uc.tweak.no-blur") {
    backdrop-filter: blur(var(--uc-blur-radius)) !important;
    background-color: #00000063 !important;
  }
}

@media not -moz-pref( "uc.tweak.urlbar.not-floating") {
  #main-window:not([customizing]) {
    #urlbar-container {
      flex: 1;
      max-width: 1000px;
      margin: auto !important;
    }

    #urlbar[breakout-extend] {
      position: fixed !important;
      width: clamp(400px, 64vw, 800px) !important;
      left: calc(50vw - (clamp(400px, 64vw, 800px) / 2)) !important;
      right: calc(50vw - (clamp(400px, 64vw, 800px) / 2)) !important;

      top: 20vh !important;
      bottom: auto !important;

      .urlbar-input {
        font-size: 16px !important;
      }
    }

    #urlbar:not([breakout-extend]) {
      & .urlbar-input-container {
        text-align: center !important;
        & .urlbar-input-box {
          transition: none !important;
        }
      }
    }
  }
}
