/* SPDX-License-Identifier: MPL-2.0 */
/* SPDX-FileCopyrightText: 2024 awwpotato */

@import url("potato-icons.css");
@import url("potato-misc.css");
@import url("potato-navbar.css");
@import url("potato-sidebar.css");
@import url("potato-urlbar.css");
@import url("potato-window-controls.css");
@import url("potato-findbar.css");

body {
  /*! background-color: #460000; */
  /*! background-image: var(--lwt-additional-images); */
  /*! background-repeat: var(--lwt-background-tiling); */
  /*! background-position: var(--lwt-background-alignment); */
}

/* remove bg from things */
#nav-bar,
#navigator-toolbox,
#appcontent,
splitter.devtools-horizontal-splitter,
.devtools-side-splitter,
#tabbrowser-tabpanels,
#sidebar-box,
#sidebar,
#sidebar-splitter {
  background-color: #000000a6 !important;
  background-image: none !important;
}

:root {
  
  --uc-content-margin-top: 0px;
  --uc-content-margin-right: 0px;
  --uc-content-margin-bottom: 0px;
  --uc-content-margin-left: 0px;
  &:not(
      [inFullscreen="true"],
      [inDOMFullscreen="true"],
      [chromehidden*="toolbar"],
      [chromehidden*="menubar"]
    ) {
    @media not (-moz-bool-pref: "uc.tweak.borderless") {
      --uc-content-margin-top: var(--uc-content-margin);
      --uc-content-margin-right: var(--uc-content-margin);
      --uc-content-margin-bottom: var(--uc-content-margin);
      --uc-content-margin-left: var(--uc-content-margin);

      & #appcontent, tabbox#tabbrowser-tabbox{
        margin: var(--uc-content-margin-top) var(--uc-content-margin-right)
          var(--uc-content-margin-bottom) var(--uc-content-margin-left) !important;
        & browser {
          border-radius: var(--uc-content-radius);
          clip-path: circle(100%);
          background-color: var(--uc-content-bg) !important;
          box-shadow: var(--uc-content-shadow) !important;
        }
      }
    }
    @media (-moz-bool-pref: "uc.tweak.borderless") and 
    (not (-moz-bool-pref: "uc.tweak.borderless.no-round")) {
      & #appcontent browser {
        clip-path: circle(100%);
        background-color: var(--uc-content-bg) !important;
        box-shadow: var(--uc-content-shadow) !important;
      }

      /* not navbar hidden */
      &:not([titlepreface*="​"]) {
        & #appcontent browser {
          border-top-left-radius: var(--uc-content-radius) !important;
          border-top-right-radius: var(--uc-content-radius) !important;
        }
      }
      /* not sidebar hidden */
      &:not([titlepreface*="‌"]) {
        &:has(#sidebar-box:not([positionend="true"])) #appcontent browser {
          border-top-left-radius: var(--uc-content-radius) !important;
          border-bottom-left-radius: var(--uc-content-radius) !important;
        }
        &:has(#sidebar-box[positionend="true"]) #appcontent browser {
          border-top-right-radius: var(--uc-content-radius) !important;
          border-bottom-right-radius: var(--uc-content-radius) !important;
        }
      }
    }
  }
  &:not(
      [inDOMFullscreen="true"],
      [chromehidden*="toolbar"],
      [chromehidden*="menubar"]
    ) {
    & #appcontent browser {
      background-color: var(--uc-content-bg) !important;
    }
  @media not (-moz-bool-pref: "uc.tweak.borderless.no-round") {
    & #appcontent browser { clip-path: circle(100%); }
    /* not navbar hidden */
    &:not([titlepreface*="​"]) {
      & #appcontent browser {
        border-top-left-radius: var(--uc-content-radius) !important;
        border-top-right-radius: var(--uc-content-radius) !important;
      }
    }
    /* not sidebar hidden */
    &:not([titlepreface*="‌"]) {
      &:has(#sidebar-box:not([positionend="true"])) #appcontent browser {
        border-top-left-radius: var(--uc-content-radius) !important;
        border-bottom-left-radius: var(--uc-content-radius) !important;
      }
      &:has(#sidebar-box[positionend="true"]) #appcontent browser {
        border-top-right-radius: var(--uc-content-radius) !important;
        border-bottom-right-radius: var(--uc-content-radius) !important;
      }
    }
  }}

  @media (-moz-bool-pref: "uc.tweak.translucency") and (-moz-platform: macos) {
    -moz-appearance: -moz-window-titlebar !important;
  }
}
